.contador {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.btn {
  margin: 20px;
  background: springgreen;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
  border-color: springgreen;
  font-weight: bold;
  width: 5vh;
  font-size: 2.5vh;
}
