.nav-enlace, i {
  display: inline-block;
  background: #042a7e;
  color: #E7E7DE;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-enlace:hover {
  background: #042f8a;
  text-decoration: underline;
}

nav {
  background: #03256C;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.titulo-prin {
  color: #E7E7DE;
  font-family: 'Righteous', cursive;
  flex: 1 1 auto;
  font-size: 40px;
  margin: -5px;
  text-decoration: none;
}
