

.otro-div{
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
    // align-items: center;
    width: 480px;
    margin-top: 6px;
    background-color: rgb(255, 0, 179);
}

.form{
    background-color: chartreuse;
}