.nav-enlace, i {
    display: inline-block;
    background: #042a7e;
    color: #E7E7DE;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;    
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;    
}
.nav-enlace:hover{
    background: #042f8a;
    text-decoration: underline;
}

nav{
    background: #03256C;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.titulo-prin{
    color: #E7E7DE;
    font-family: 'Righteous', cursive;
    flex: 1 1 auto;
    font-size: 40px;
    margin: -5px;
    text-decoration: none;
}

h2{
    color: #03256C;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;  
    font-weight: bold;
    background-color: #c2dae2;
    margin-top: 0;
}

.contador{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.btn{
    margin: 20px;
}

.contenedor{
    background-color: #ffff;
}

.article{
    background-color: #ffff;
    width: 19em;
    height: 30em;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(12, 64, 141, 0.932);
    margin: 0.4em;
    text-decoration: none;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link-card{
    text-decoration: none;
    flex: 1 1 20%;
}
    .nom-articulo{
        color: black;
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5vw;
    }

    .precio{
        color: black;
        text-align: center;
        font-size: 1.4vw;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .img{
        border: 6px solid white;
        margin-top: calc(10px - 5px);
        height: 57vh;
        width: 40vh;
        border-bottom: 1px solid rgba(34, 25, 25, 0.74);
    }

    .imagen{
        border: 6px solid white;
        margin-top: calc(10px - 5px);
        height: 57vh;
        width: 40vh;
    }

.cards{
    display: flex;
    flex: 2 1 auto;
    flex-flow: row wrap;
}

.count{
    margin-top: -50px;
}
.btn-comprar{
    margin-top: -20px;
}