.nav-enlace{
    display: inline-block;
    background: #042a7e;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;    
    margin-left: 10px;
}
.nav-enlace:hover{
    background: #042f8a;
    text-decoration: underline;
}

nav{
    background: #03256C;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h1{
    color: #E7E7DE;
    flex: 1 1 auto;
    font-size: 40px;
    margin: -5px;
}